name: Manual Publish Documentation

on: workflow_dispatch

jobs:
  publish:
    name: Publish Documentation
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: "-Xmx6g -Xms4g"
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: zulu
      - name: Get Latest Release
        id: latest_version
        uses: abatilo/release-info-action@v1.3.3
        with:
          owner: agorapulse
          repo: micronaut-aws-sdk
      - uses: gradle/actions/setup-gradle@v4
      - name: Publish GitHub Pages
        run: ./gradlew gitPublishPush -x groovydoc -Pversion=${{ steps.latest_version.outputs.latest_tag }} -Prelease=true -Dorg.ajoberstar.grgit.auth.username=${{ secrets.AGORAPULSE_BOT_PERSONAL_TOKEN }}
